body {
  font-family: Roboto;
  margin: 0;
  width: 100%;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.sidebar {
  padding: 20px;
  background-color: #1992d4;
  color: white;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebar .logo {
  grid-row: 1 / 2;
  font-size: 1.5rem;
}

.sidebar .main-menu {
  grid-row: 2 / 3;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  gap: 20px;
}

.menu-item,
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
  gap: 10px;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
  gap: 10px;
}

.menu-item img {
  max-height: 1.5rem;
}

.logo img {
  max-height: 2.2rem;
}

.main {
  background-color: #e2e8f0;
  display: grid;
  grid-column: 2 / 3;
  grid-template-rows: 1fr 6fr;
}

.top-bar {
  padding: 30px 60px;
  background-color: white;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 40px 40px;
  gap: 20px;
}

.top-bar .search-bar {
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: 1fr 15fr;
  align-items: center;
}

.search-bar img {
  width: 50%;
}

.search-bar input {
  border-width: 0;
  border-radius: 20px;
  background-color: #e2e8f0;
  height: 80%;
}

.top-bar .profile {
  grid-column: 7 / 9;
  display: grid;
  grid-template-columns: 50px 80px 250px;
  align-items: center;
  margin-top: -15px;
}

#profile-notification img {
  width: 1.5rem;
}

#profile-icon img {
  width: 50%;
  padding: 10px;
  background-color: yellow;
  border-radius: 50%;
  /* margin-top: -15px; */
}

#profile-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.top-bar .greeting {
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: 100px 300px;
  grid-template-rows: 1fr 1.5fr;
}

.greeting img {
  width: 50%; 
  padding: 10px;
  background-color: yellow;
  border-radius: 50%;
  margin-top: -10px;
}

#greeting-icon {
  grid-area: 1 / 1 / -1 / 2; 
}

#greeting-text {
  grid-area: 1 / 2 / 2 / -1;
}

#greeting-user {
  grid-area: 2 / 2 / -1 / -1;
  font-size: 20px;
  font-weight: bold;
}

.top-bar .actions {
  grid-column: -4 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.top-bar .actions button {
  background-color: #1992d4;
  padding: 5px;
  border-radius: 50px;
  border: none;
}

.main-content {
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1rem 1fr 1rem 1fr;
  gap: 20px;
}

.main-content .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(autofill, minmax(0, 1fr));
  gap: 20px;
  grid-row: 2 / -1;
}

.main-content .card {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  border-left: 10px solid yellow;
  box-shadow: 2px 2px 1px 1px #b2b2b2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.card .subject {
  grid-area: 1 / 1 / 2 / 2;
}

.card .content {
  grid-area: 2 / 1 / 3 / 3;
}

.card .actions {
  grid-area: 3 / 2 / 4 / 3;
}

.news,
.users {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 1px #b2b2b2;
  font-size: 1rem;
}

.title,
.subject,
.username {
  font-weight: bold;
}

.news {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.news-item:not(:last-child) {
  border-bottom: solid 1px grey;
}

.users {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}
