body {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}

html {
  height: 100vh;
  width: 100%;
}

.dashboard {
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  padding: 10px 20px;
  background-color: #1992d4;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  gap: 10px;
}

.logo {
  grid-row: 1 / 2;
  font-size: 1.2rem;
}

.main-menu {
  grid-row: 3 / 7;
  display: grid;
  gap: 10px;
}

.setting-menu {
  grid-row: 8 / 10;
  display: grid;
  gap: 10px;
}

.main {
  background-color: grey;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / -1;
  grid-template-rows: 1fr 8fr;
}

.top-bar {
  padding: 10px;
  background-color: white;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.search-bar {
  background-color: orange;
  grid-column: 1 / 4;
}

.profile {
  background-color: blue;
  grid-column: 4 / 6;
}

.greeting {
  background-color: green;
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: grid;
}

.actions {
  grid-column: -3 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}

.top-bar .actions button {
  background-color: blue;
  padding: 5px 20px;
  border-radius: 20px;
}

.main-content {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.title {
  grid-row: 1 / 2;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-row: 2 / -1;
}

.card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.announcements {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.trending {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}